body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
.calculator{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: #222;
}
.display {
    height: 80px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
p{
    font-size: 50px;
    overflow-x: auto;
}
.buttons{
    box-sizing: border-box;
    display: flex;
    flex-flow:row wrap;
    height:400px;
    width:400px;
    gap:6px;
    
}
.operator{
    flex:1 1 20%;
    border: none;
    background-color: rgb(229, 228, 237);
    box-shadow: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
}
button:active {
    transform: scale(0.9);
}
button:hover {
    filter: brightness(1.1);
}
button {
    transition: 0.1s;
}